<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Donna's Pizza - Quality & Quantity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/queries.css"/>
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    

    
</head>
<body>

    <header>
        <nav class="row sticky">
            <a href="#">
                <img src="/img/DP-logo-ring.png" alt="Donna's Pizza Logo" class="logo">
            </a>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            <ul id="Main-Nav" class="main-nav js--main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/locations.html">Locations</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/franchise.html">Franchise</a></li>
                <li><a href="/catering.html">Catering</a></li>
                         </ul>
                </nav>
            </header>

<div class="about-us-container">
        <div class="about-us-heading heading">ABOUT US</div>
        <div class="about-us-carrosel">
            <div class="about-us-image"><img src="img/pal-pk-old.png" alt="Old Palisades Park"></div> 
        </div>
        <div class="about-us-text">
                The Testino family first step foot on American soil on March 12 1962. When they Immigrated from there hometown of Corrado located in Bari Italy .Bringing with them nothing but there Recipes. 
                <br>
                In August of 1965 Donna's Pizza Opened its doors. In Palisades Park NJ  
                <br>
               Over a Half a Century later  (The Famous Donna's Pizza) Is still serving the public today.
               <br>
               <br>
               
               
               <h2>Second Generation </h2>
               <br>
                  Is now taking their family's legacy to new heights and  eventually nationwide. As numerous locations have already opened up throughout the State of  New Jersey. 
        </div>


</div>

<footer>
        <div class="footer-copy">&copy; 2018 - Donna's Pizza All rights reserved</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="jquery.waypoints.min.js"></script>
    <script src="script.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>

    
</body>
</html>