<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Donna's Pizza - Quality & Quantity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800" rel="stylesheet" />
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="queries.css"/>
    <link rel="stylesheet" type="text/css" href="ionicons.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

    
</head>
<body>
    <header>
        <nav class="row sticky">
                <a href="/">
                    <img src="/img/DP-logo-ring.png" alt="Donna's Pizza Logo" class="logo">
                </a>
                <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                <ul id="Main-Nav" class="main-nav js--main-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/locations.html">Locations</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/franchise.html">Franchise</a></li>
                    <li><a href="/catering.html">Catering</a></li>
                 </ul>
        </nav>
    </header>

<div class="franchise-container">
    <div class="heading">FRANCHISE OPPORTUNITIES</div>
    <br>
    <h2>Want to get your own slice of the growing Donna’s pie?</h2>
    <br>
    <div class="franchise-content">
        <h4>Whether you’re a single entrepreneur, a mom & pop operation, or an investment group, Donna’s franchise program has a scale for you. We can help you scout the best locations and do demographic research, and if you’re looking for an area development agreement, we offer a multiple-store discount, and also veterans discounts.</h4>
        <br>
        <h2>Benefits</h2>
        <ul>
            <li>Classic Italian-American menu popular all over the US, with that famous pizza recipe you just can’t get anywhere else.</li>
            <li>Economies of scale – existing supply chain and friendly vendors.</li>
            <li>Training program – We’ll start you out learning in one of our existing stores, then come out to your location and get you up and running, and serving food that will keep customers coming back time and time again.</li>
            <li>Shared advertising.</li>
            <li>The pizza industry is one of the fastest-growing segments in America, accounting for $30 billion a year and rising.</li>
            <li>A parent company that is truly devoted to your business thriving, with personal attention and support second-to-none.</li>
        </ul>
        <br>
        <h2>What Makes Donna’s Unique and a Good Investment</h2>
        <ul>
            <li>Donna’s cuisine is a unique blend of classic Italian recipes, as they have been interpreted here in America. Our pizza is unique among the recipes produced by most pizzerias, who either make American fast-food recipes, or make old-world Italian pies. It is the unique, half-century-old “Americana” recipe that made pizza famous in the US, and it will blow your customers away. In the restaurant business, repeat customers are key, and the recipes at Donna’s, combined with the pound-for-pound value of our portions and high-quality ingredients, bring people back again and again.</li>
            <li>Our franchising fees are far more reasonable than the fast-food chains, and our personal support for owners is peerless. We want everyone who carries our name to do so with pride, and to be successful businesspeople.</li>
            <li>While we have a floorplan and basic design layout, our franchise agreement does not prohibit owners from adding personal touches, and making their location feel like home.</li>
            <br>
        </ul>
    </div>


</div>

<footer>
        <div class="footer-copy">&copy; 2018 - Donna's Pizza All rights reserved</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="jquery.waypoints.min.js"></script>
<script src="script.js"></script>

</body>
</html>