<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Donna's Pizza - Quality & Quantity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/queries.css" />
    <link rel="stylesheet" type="text/css" href="../css/ionicons.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../css/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../css/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../css/favicons/favicon-16x16.png">
    <link rel="manifest" href="../css/favicons/site.webmanifest">
    <link rel="mask-icon" href="../css/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../css/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="../css/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />


</head>

<body>
    <header>
        <!-- <nav class="row">
            <a href="/">
                <img src="../css/img/DP-logo-ring.png" alt="Donna's Pizza Logo" class="logo">
            </a>
            <a class="mobile-nav-icon js--nav-icon">
                <ion-icon name="menu-outline"></ion-icon>
            </a>
            <ul id="Main-Nav" class="main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/locations.html">Locations</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/franchise.html">Franchise</a></li>
                <li><a href="/catering.html">Catering</a></li>
            </ul>
            

        </nav> -->

        <nav class="navbar">
            <div class="navbar-desktop">
                <ul id="Main-Nav" class="main-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/locations.html">Locations</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/franchise.html">Franchise</a></li>
                    <li><a href="/catering.html">Catering</a></li>
                </ul>
            </div>

            <div class="navbar-mobile js--nav-icon">
                <div class="icon-left">
                    <a href="/">
                        <img src="../css/img/DP-logo-ring.png" alt="Donna's Pizza Logo" class="logo">
                    </a>
                </div>
                <div class="icon-right">
                    <a class="mobile-nav-icon ">
                        <ion-icon name="menu-outline"></ion-icon>
                    </a>
                    <ul id="Main-Nav" class="main-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/locations.html">Locations</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/franchise.html">Franchise</a></li>
                        <li><a href="/catering.html">Catering</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
    </header>

    <!-- 
        

        </header> -->




    <div class="hero-box">
        <div class="hero-box-background"></div>
        <div class="btn-animate-right"></div>
        <img src="../css/img/donnas-pizza-logo-transparent.png" alt="Donna's Logo" class="hero-box-logo">
        <div class="hero-text-box-1">Simply the Best</div>
        <div class="hero-text-box-2">For Over 50 Years </div>
        <a href="#popup" class="hero-btn btn btn-red">Pizza Menu</a>
        <a href="#" class="btn btn-green hero-btn-2">Order Now!</a>

    </div>


    <div class="locations">
        <div id="locations" class="locations-main-text heading">CHOOSE YOUR LOCATION</div>
        <a href="#cliffside-park" class="title-green locations-mobile-choice--1">Cliffside Park</a>
        <a href="#pompton-lakes" class="title-red locations-mobile-choice--2">Pompton Lakes</a>
        <a href="#saddle-brook" class="title-green locations-mobile-choice--3">Saddle Brook</a>
        <a href="#palisades-park" class="title-red locations-mobile-choice--4">Palisades Park</a>


        <div id="cliffside-park" class="store-1-id"></div>
        <div class="title-green store-1">CLIFFSIDE PARK</div>
        <a href="#" class="store-1-picture"></a>
        <div class="store-1-content">
            <ul>
                <li>Express take-out and delivery</li>
                <li>694 Anderson Avenue, Cliffside Park, NJ</li>
                <li>Mon - Sat: 11AM - 10PM</li>
                <li>Sun: 12PM - 10PM</li>
            </ul>
        </div>
        <a href="tel:12019410077" class="store-1-call-us btn btn-gold">
            <ion-icon name="call-outline"></ion-icon> CALL US!
        </a>

        <a href="#" class="store-button store-1-order-now btn btn-green">Order Now!</a>

        <div id="pompton-lakes" class="store-2-id"></div>
        <div class="title-red store-2">POMPTON LAKES</div>
        <a href="#" div class="store-2-picture"></a>
        <div class="store-2-content">
            <ul>
                <li>Express take-out and delivery</li>
                <li>694 Anderson Avenue, Cliffside Park, NJ</li>
                <li>Mon - Sat: 11AM - 10PM</li>
                <li>Sun: 12PM - 10PM</li>
            </ul>
        </div>
        <a href="#" class="store-2-call-us btn btn-gold">
            <ion-icon name="call-outline"></ion-icon> CALL US!
        </a>

        <a href="#" class="store-button store-2-order-now btn btn-red ">Order Now!</a>

        <div id="saddle-brook" class="store-3-id"></div>
        <div class="title-green store-3">SADDLE BROOK</div>
        <a href="#" div class="store-3-picture"></a>
        <div class="store-3-content">
            <div class="store-text">
                <ul>
                    <li>Express take-out and delivery</li>
                    <li>487 Market St, Saddle Brook, NJ 07663</li>
                    <li>Mon - Sat: 11AM - 10PM</li>
                    <li>Sun: 12PM - 10PM</li>
                </ul>
            </div>
        </div>
        <a href="tel:12017129400" class="store-3-call-us btn btn-gold">
            <ion-icon name="call-outline"></ion-icon> CALL US!
        </a>
        <a href="#" class="store-button store-3-order-now btn btn-green ">Order Now!</a>

        <div id="palisades-park" class="store-4-id"></div>
        <div id="palisades-park" class="title-red store-4">PALISADES PARK</div>
        <a href="tel:12019442158" div class="store-4-picture"></a>
        <div class="store-4-content">
            <div class="store-text">
                <ul>
                    <li>Express take-out and delivery</li>
                    <li>404 Broad Ave, Palisades Park, NJ</li>
                    <li>Mon - Sat: 11AM - 10PM</li>
                    <li>Sun: 12PM - 10PM</li>
                </ul>
            </div>
        </div>
        <a href="" class="store-4-call-us btn btn-gold">
            <ion-icon name="call-outline"></ion-icon>CALL US!
        </a>

        <a href="#" class="store-button store-4-order-now btn btn-red ">Order Now!</a>
    </div>

    <div class="container">
        <div class="about-us-box box-shadow">
            <div class="heading about-us-box-text">
                About Us
            </div>
            <div class="about-us-box-details">
                Discover the tradition of Donna's
            </div>
            <a href="/about.html" class="btn btn-green about-us-box-button">Discover</a>

        </div>

        <div class="catering box-shadow">
            <div class="heading catering-text">
                Catering
            </div>
            <div class="catering-details">
                Count on us for your special occasions
            </div>
            <a href="/catering.html" class="btn btn-red catering-button">Catering</a>
        </div>

        <div class="franchise box-shadow">
            <div class="heading franchise-text">
                Franchise
            </div>
            <div class="franchise-details">
                Be a part of the best Pizzeria in NJ
            </div>
            <a href="/franchise.html" class="btn btn-green franchise-button">Franchise</a>
        </div>
    </div>

    <div class="popup" id="popup">
        <div class="popup-content">
            <div class="popup-carousel">
                <div class="popup-slide">
                    <div class="slide-name heading">Traditional Pizza</div>
                    <img src="/img/hero.jpg" alt="Traditional Pizza" class="slide-image">
                    <div class="slide-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                        quae repellat odit, fuga nisi ut facilis aperiam autem in pariatur. Fugit, eligendi quis. Ipsum,
                        molestias ab esse et at ullam?.</div>
                </div>
                <div class="popup-slide">
                    <div class="slide-name heading">Sicilian Pizza</div>
                    <img src="/img/catering.jpg" alt="Sicilian Pizza" class="slide-image">
                    <div class="slide-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                        quae repellat odit, fuga nisi ut facilis aperiam autem in pariatur. Fugit, eligendi quis. Ipsum,
                        molestias ab esse et at ullam?.</div>
                </div>
                <div class="popup-slide">
                    <div class="slide-name heading">Margherita Pizza</div>
                    <img src="/img/hero.jpg" alt="Margherita Pizza" class="slide-image">
                    <div class="slide-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                        quae repellat odit, fuga nisi ut facilis aperiam autem in pariatur. Fugit, eligendi quis. Ipsum,
                        molestias ab esse et at ullam?.</div>
                </div>
                <div class="popup-slide">
                    <div class="slide-name heading">Chicken Bacon Pizza</div>
                    <img src="/img/hero.jpg" alt="Chicken Bacon Pizza" class="slide-image">
                    <div class="slide-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                        quae repellat odit, fuga nisi ut facilis aperiam autem in pariatur. Fugit, eligendi quis. Ipsum,
                        molestias ab esse et at ullam?.</div>
                </div>
            </div>
            <a href="#locations" class="popup-button btn btn-green">Order Now!</a>

            <a href="#" class="popup-close">&times;</a>
        </div>
    </div>

    <footer>
        <div class="footer-copy">&copy; 2018 - Donna's Pizza All rights reserved</div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="jquery.waypoints.min.js"></script>
    <script src="../js/script.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>


</body>

</html>