<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Donna's Pizza - Quality & Quantity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800" rel="stylesheet" />
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="queries.css"/>
    <link rel="stylesheet" type="text/css" href="ionicons.min.css">

    
</head>
<body>

    <header>
        <nav class="row sticky">
            <a href="/">
                <img src="/img/DP-logo-ring.png" alt="Donna's Pizza Logo" class="logo">
            </a>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            <ul id="Main-Nav" class="main-nav js--main-nav">
                <li><a href="/">Home</a></li>
                    <li><a href="/locations.html">Locations</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/franchise.html">Franchise</a></li>
                    <li><a href="/catering.html">Catering</a></li>
                         </ul>
                </nav>
            </header>

<div class="locations-container">
    <div class="locations-header heading">LOCATIONS</div>
    <div class="location-content">
        <div class="location-name heading"> Cliffside Park </div>
        <div class="location-description"> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur sed dignissimos blanditiis sint beatae perferendis deserunt perspiciatis debitis possimus porro consectetur mollitia dicta nulla quia alias, error rem quasi?
        
        </div>
        <div class="location-image">
            <img src="img/cliffside-park.jpg" alt="CP Image">
        </div>
        <div class="location-buttons">
                <a href="#" class="btn btn-green location-btn-menu">Menu</a>
                <a href="#" class="btn btn-green location-btn-catering">Catering Menu</a>
        </div>
    </div>

    <div class="location-content">
        <div class="location-name heading"> Palisades Park </div>
        <div class="location-description"> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur sed dignissimos blanditiis sint beatae perferendis deserunt perspiciatis debitis possimus porro consectetur mollitia dicta nulla quia alias, error rem quasi?
        
        </div>
        <div class="location-image">
            <img src="img/palisades-park.jpg" alt="Pal Park Image">
        </div>
        <div class="location-buttons">
                <a href="#" class="btn btn-red location-btn-menu">Menu</a>
                <a href="#" class="btn btn-red location-btn-catering">Catering Menu</a>
        </div>
    </div>

    <div class="location-content">
            <div class="location-name heading"> Saddle Brook </div>
            <div class="location-description"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur sed dignissimos blanditiis sint beatae perferendis deserunt perspiciatis debitis possimus porro consectetur mollitia dicta nulla quia alias, error rem quasi?
            
            </div>
            <div class="location-image">
                <img src="img/saddle-brook.jpg" alt="CP Image">
            </div>
            <div class="location-buttons">
                    <a href="#" class="btn btn-green location-btn-menu">Menu</a>
                    <a href="#" class="btn btn-green location-btn-catering">Catering Menu</a>
            </div>
            
        </div>

        <div class="location-content">
                <div class="location-name heading">Pompton Lakes </div>
                <div class="location-description"> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur sed dignissimos blanditiis sint beatae perferendis deserunt perspiciatis debitis possimus porro consectetur mollitia dicta nulla quia alias, error rem quasi?
                
                </div>
                <div class="location-image">
                    <img src="img/pompton-lakes.jpeg" alt="Pompton Lakes">
                </div>
                <div class="location-buttons">
                        <a href="#" class="btn btn-red location-btn-menu">Menu</a>
                        <a href="#" class="btn btn-red location-btn-catering">Catering Menu</a>
                </div>
            </div>

</div>

<footer>
        <div class="footer-copy">&copy; 2018 - Donna's Pizza All rights reserved</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="jquery.waypoints.min.js"></script>
<script src="script.js"></script>

</body>
</html>