<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Donna's Pizza - Quality & Quantity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800" rel="stylesheet" />
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="queries.css"/>
    <link rel="stylesheet" type="text/css" href="ionicons.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

    
</head>
<body>
    <header>
        <nav class="row sticky">
                <a href="/">
                    <img src="/img/DP-logo-ring.png" alt="Donna's Pizza Logo" class="logo">
                </a>
                <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                <ul id="Main-Nav" class="main-nav js--main-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/locations.html">Locations</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/franchise">Franchise</a></li>
                    <li><a href="/catering">Catering</a></li>
                 </ul>
        </nav>
    </header>
    
<div class="about-us-container">

</div>

<footer>
        <div class="footer-copy">&copy; 2018 - Donna's Pizza All rights reserved</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="jquery.waypoints.min.js"></script>
<script src="script.js"></script>

</body>
</html>